Django==1.4.3
MySQL-python==1.2.3
PIL==1.1.7
dj-database-url==0.2.1
django-allauth==0.8.3
django-appconf==0.5
django-avatar==1.0.5
django-compressor==1.2
httplib2==0.7.7
oauth2==1.5.211
python-openid==2.2.5
pytz==2012j
simplejson==3.0.7
wsgiref==0.1.2
xlrd==0.8.0
django-pylibmc-sasl