@import "retina.less";
@import "settings.less";

body {
	.at2x('/static/images/tiles/pw_maze_white.png', 198px, 200px);
	background-repeat: repeat;
}

.space-40 {
	height: 40px;
}

.space-20 {
	height: 20px;
}

.img-logo-150 {
	.at2x('/static/images/logo_150.png',100px, @logo-height);
	background-size: 100px @logo-height;
}

.logo-box {
	width: 100px;
	height: @logo-height;
	.img-logo-150;
}

.logo-text-box {
	text-align: left;
	line-height: @logo-height;
	height: @logo-height;
}

.attach-right {
	right :0px;
	position: absolute;
}

.blue-bar {
	background-color: @light-blue;
	border-color: @gray;
	padding-left: 50px;
	border-width: 2px;
	border-style: solid;
	width: 250px;
	height: 50px;
	.attach-right
}

.tip-bar {
	margin:auto;
	background-color: @light-blue;
	border-color: @light-blue-accent;
	margin: auto;
	width: 80%;
	padding: 10px;
	padding-left: 40px;
	border-style: solid;
	border-width: 2px;
	line-height: 2em;
	background-image: url('/static/images/lightbulb.png');
	background-repeat: no-repeat;
	background-position: left;
}

.category {
	background-color: @light-blue;
	border-color: @gray;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	margin: 2px;
	display: block;
	text-align:center;
	text-decoration: none;
}
