@import "settings.less";
@import "elements.less";
.large-white {
	color: @white;
	font-size: 2em;
}

.title {
	font-family: @josefin;
	font-weight: 700;
	font-style: italic;
	font-size: 6em;
}

.login {
	font-family: @josefin;
	font-weight: 400;
	font-size: 3em;
	color: @white;
}
